

body {
    background-color: #29203f;
}

.dont-panic{
    border:solid red; 
    padding-bottom: 69%; 
}

.wrapper{
    padding-left: 38%;
    padding-top: 10%;
    padding-right: 38%;
}

.dont-panic-text{
    position: absolute;
    left: 39%;
    top: 7%;
    font-size: 850%;
    font-family: "Raleway";
    color: red;
    
}


.button-wrapper{
    padding-top:4%;
    text-align:center;
}

.luz-button{
    background: none;
    border:solid red 1pt;
    cursor: pointer;
    color: Red;
    font-size: 20pt; 
    margin: 12px;
    padding: 6px;
    min-width: 230px;
}

.title{
    text-align: center;
    color: red;
    font-family: "Raleway";
    font-size: 30pt;
    text-decoration: underline;
}

.entry-text{
    text-align: center;
    color: red;
    font-family: "Raleway";
    font-size: 15pt;
}

.luz-input{
    height: 25pt;
    width: 500pt;
    background-color: #432348;
    border-color: black;
}

.luz-input:focus{
    outline-width: 0pt;
}

.luz-wrap{
    text-align: center;
}

.luz-text{
    font-family: "Raleway";
    font-size: 20pt;
    color: red;
}

.multiline{
    height: 200pt;
    border: 1.5pt black solid;
}

.but{
    font-family: "Raleway";
    font-size: 18pt;
    border: red solid 2pt;
}