

body {
    background-color: #29203f;
}

.dont-panic{
    border:solid red; 
    padding-bottom: 69%; 
}

.wrapper{
    padding-left: 38%;
    padding-top: 10%;
    padding-right: 38%;
}

.dont-panic-text{
    position: absolute;
    left: 39%;
    top: 9%;
    font-size: 600%;
    font-family: "Raleway";
    color: red;
    
}


.button-wrapper{
    padding-top:4%;
    text-align:center;
}

.luz-button{
    background: none;
    border:solid red 1pt;
    cursor: pointer;
    color: Red;
    font-size: 20pt;    
}

.title{
    text-align: center;
    color: red;
    font-family: "Raleway";
    font-size: 30pt;
}

.entry-text{
    text-align: center;
    color: red;
    font-family: "Raleway";
    font-size: 15pt;
}

